spring.jpa.generate-ddl: true
#logging.level.org.springframework.boot.autoconfigure.security: INFO

#spring.h2.console.enabled: true
#spring.h2.console.path: /h2



logging:
  level: DEBUG

#spring:
#  datasource:
#    url: jdbc:mysql://localhost/foo_schema
#    username: root
#    password: d4t4b4s3sForLif3
#    driverClassName: com.mysql.jdbc.Driver
#    test-on-borrow: true
#     test-while-idle: true
#    validation-query: select 1;
#    maxActive: 1
#  jpa:
#    show-sql: false
#    generate-ddl: false
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
#        ddl-auto: validate
#        hbm2ddl:
#          import_files:

spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/postgres
    username: application
    password: application
    driverClassName: org.postgresql.Driver
    test-on-borrow: true
    test-while-idle: true
    validation-query: select 1;
    maxActive: 10
    initialSize: 20
  jpa:
      show-sql: true
      generate-ddl: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          ddl-auto: validate
          hbm2ddl:
            import_files:

